---
title: Parks
layout: base
pagination:
    data: parks.data 
    size: 1
    alias: pks
    addAllPagesToCollections: true
permalink: "parks/{{ pks.fullName | slug }}/"
tags:
    - 'parks'
eleventyComputed:
    title: "{{ pks.fullName }}"
    shortTitle: "{{ pks.parkCode }}"
---
<a href="/">Home</a>
<a href="/all-parks">All Parks</a>
<figure class="parks">
  <figcaption style="font-weight: bold">{{ pks.images[0].title }}</figcaption>
  <p><img src="{{ pks.images[0].url }}"</p>
  <figcaption>{{ pks.images[0].caption }}</figcaption>
  <figcaption>{{ pks.images[0].credit }}</figcaption>
</figure>
<p>{{ pks.description }}</p>
<a href="https://www.nps.gov/{{ pks.parkCode }}">nps.gov/{{ pks.parkCode }}</a>
<br>
<a href="{{ pks.directionsUrl }}">Direction</a>
<h2>Places for {{ pks.fullName }}</h2>
<div class="parks">
    {% for place in pks._places %}
    <div class="places">
      <h3>{{ place.title }}</h3>
      <p><img src="{{ place.images[0].url }}"></p>
      <a href="{{ place.url }}">Link</a>
      <p>{{ place.bodyText }}</p>
    </div>
    {% endfor %}
</div>